<?xml version="1.0" encoding="UTF-8"?>
<root>
    <databaseconnect>
        <driverclass>com.mysql.cj.jdbc.Driver</driverclass>
		<url>jdbc:mysql://mysql:3306/pushdemo?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true</url>
        <user>root</user>
        <password>root</password>
    </databaseconnect>
    <option>
    	<pagesize>10</pagesize>
    	<monitorsize>10</monitorsize>
    	<ver>2</ver>
    </option>
</root>





